# Data directories (too large for git)
segmentation/data/
segmentation/dataset/
segmentation/nnUNet_trained_models/
segmentation/test_3_cases_input/
segmentation/test_3_cases_output/
segmentation/.DS_Store
segmentation/.run_individual_nih_inference.sh
segmentation/.run_kidney_segmentation_robust.sh
segmentation/.run_individual_nih_inference.sh.log

# Backup files
segmentation/backup_files/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
**/__pycache__/

# Virtual environments
venv/
env/
ENV/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

#large files
*.nii.gz
*.nii
*.dcm
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.ico
*.mp4
*.mov
*.avi
*.mkv

# Temporary files
*.tmp
*.temp
